<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            ndgreen: '#1C9259',
          }
        }
      }
    }
  </script>
  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="/CSS/general.css">
  <link rel="stylesheet" href="/CSS/reserve.css">
  <script src="/JS/general.js"></script>
  <script src="/JS/reservepage.js"></script>

  <title>{{title}}</title>
</head>

<body>
  <!-- HEADING OPTIONS -->
  <header class="header">
    <button onclick="openSidebar()" class="open-menu">
      <img src="/Assets/icons/menu-black.svg">
    </button>

    <div class="title">
      <img src="/Assets/icons/logo.svg" class="logo">
      <div class="label">
        <p class="label-main">LABubuddy</p>
        <p class="label-sub">{{userRole}}</p>
      </div>
    </div>

    <a href="/logout" class="sign-out">Log Out</a>
  </header>

  <!-- MENU SIDEBAR -->
  <div class="sidebar">
    <div class="sidebar-heading">
      <button onclick="closeSidebar()">
        <img src="/Assets/icons/menu-white.svg">
        <h1>Menu</h1>
      </button>
    </div>
    <hr class="solid-divider">
    <a href="/profile">View Profile</a>
    <a href="/search-profile">Search Other Users</a>
    <hr class="solid-divider">
    <a href="/createreserve">Create Reservation</a>
    <a href="/view-reservations">View Reservations</a>
    <hr class="solid-divider">
  </div>

  <!-- CONTENTS -->
  <div id="content-area" class="flex items-center justify-center">
    <div class="bg-[#1C9259] bg-opacity-40 mt-16 bg-ndgreen rounded-lg w-[700px] h-[478px] text-[#2C2C2C]">
      <div class="flex justify-center mt-8">
        <div>
          <div>
            <p class="flex justify-center text-[30px] font-medium text-[#2C2C2C]">Filter Reservations</p>
          </div>

          <label for="lab-finput" class="mt-4 block mb-2 text-sm font-medium">Choose Laboratory:</label>
          <select id="lab-finput" name="lab-finput" class="block w-80 p-2 bg-white border-white rounded-full shadow-sm focus:outline-none focus:ring-2">
            {{#each labs}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>

          <br>

          <label for="date-finput" class="block mb-2 text-sm font-medium">Choose a Date</label>
          <input type="date" id="date-finput" name="date-finput" class="block w-80 p-2 bg-white border-white rounded-full shadow-sm focus:outline-none focus:ring-2">

          <br>

          <label for="time-finput" class="block mb-2 text-sm font-medium">Choose Time:</label>
          <select id="time-finput" name="time-finput" class="block w-80 p-2 bg-white border-white rounded-full shadow-sm focus:outline-none focus:ring-2">
            <option value="">-- Select --</option>
            {{#each timeSlots}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          </select>

          <br>

          <div id="search-buttons" class="flex flex-col items-center">
            <div class="flex justify-center w-52 bg-[#14AE5C] px-6 py-3 rounded-full text-white text-xl font-medium">
              <a href="/filtered-reservations">
                <button type="button">Search</button>
              </a>
            </div>
            <div class="flex justify-center mt-2">
              <a href="/view-reservations">
                <p>View All Instead</p>
              </a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
