<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="/CSS/general.css">
  <link rel="stylesheet" href="/CSS/reserve.css">
  <script src="/JS/general.js"></script>
  <script src="/JS/reservepage.js"></script>

  <title>LABubuddies - Reservation</title>
</head>

<body>
  <!-- HEADING OPTIONS -->
  <header class="header">
    <button onclick="openSidebar()" class="open-menu">
      <img src="/Assets/icons/menu-black.svg">
    </button>

    <div class="title">
      <img src="/Assets/icons/logo.svg" class="logo">
      <div class="label">
        <p class="label-main">LABubuddy</p>
        <p class="label-sub">{{userRole}}</p>
      </div>
    </div>

    <a href="/logout" class="sign-out">Log Out</a>
  </header>

  <!-- MENU SIDEBAR -->
  <div class="sidebar">
    <div class="sidebar-heading">
      <button onclick="closeSidebar()">
        <img src="/Assets/icons/menu-white.svg">
        <h1>Menu</h1>
      </button>
    </div>
    <hr class="solid-divider">
    <a href="/viewprofile">View Profile</a>
    <a href="/search">Search Other Users</a>
    <hr class="solid-divider">
    <a href="/createreserve">Create Reservation</a>
    <a href="/viewreservations">View Reservations</a>
    <hr class="solid-divider">
  </div>

  <!-- MAIN CONTENT -->
  <div class="main-content">
    <div class="instructions">
      <h2>Choose a laboratory.</h2>
      <a href="/studentreserve">To Student</a>
    </div>

    <!-- LAB/SEAT SLOTS -->
    <div class="slot-area">
      <iframe src="/reserveiframe" title="slot-area-contents" class="slot-area-contents"></iframe>
    </div>

    <!-- DATE/TIME SLOTS -->
    <div class="timeslot-area">
      <div class="chosen-slot-area">
        <p>Chosen slot:</p>
        <div class="chosen-slot">{{selectedSlot}}</div>
      </div>

      <br />

      <div class="date-input">
        <label for="res-date">Choose a Date</label><br />
        <input type="date" id="res-date" name="res-date">
      </div>

      <br />

      <div class="starttime-input">
        <label for="start-time">Choose a Start Time</label><br />
        <select class="start-time" name="start-time">
          <option value="0"> -- None --</option>
          {{#each startTimes}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      <br />

      <div class="endtime-input">
        <label for="end-time">Choose an End Time</label><br />
        <select class="end-time" name="end-time">
          <option value="0">-- None --</option>
          {{#each endTimes}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </div>

      <br />

      <div class="student-email">
        <label for="email">Enter student's email</label>
        <input type="email" id="email" class="email">
      </div>

      <div class="anon">
        <input type="checkbox" id="anonRes" class="anonRes" value="anonRes">
        <label for="anonRes">Reserve Anonymously?</label>
      </div>

      <br />

      <button type="button" class="confirm-res">Confirm</button>
    </div>
  </div>
</body>

</html>
